
Proyecto_isss_seguro/bin/Debug/Proyecto_isss_seguro.exe
.vs/Proyecto_isss_seguro/v14/.suo
Proyecto_isss_seguro/bin/Debug/Proyecto_isss_seguro.exe
Proyecto_isss_seguro/bin/Debug/Proyecto_isss_seguro.pdb
Proyecto_isss_seguro/Clases/Conexion.cs
Proyecto_isss_seguro/obj/Debug/Proyecto_isss_seguro.exe
Proyecto_isss_seguro/obj/Debug/Proyecto_isss_seguro.pdb
